<launch>
    <!-- Gazebo configs -->
    <arg name="world" default="$(find prometheus_gazebo)/worlds/empty.world"/>
    <arg name="model" default="p450_3Dlidar_D435i"/>
    <arg name="sdf" default="$(find prometheus_gazebo)/gazebo_models/uav_models/$(arg model)/$(arg model).sdf"/>

    <!-- 启动Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <!-- 设置为false，使用系统时间 -->
        <arg name="use_sim_time" value="false"/>
        <arg name="gui" value="true"/>
    </include>

    <!--无人机编号-->
    <arg name="uav_id" default="1"/>
    <!-- 使用group标签来对不同的无人机进行分组，因此，不同无人机的话题会带上前缀，如/uav0、/uav1等 -->
    <arg name="ID" value="$(eval arg('uav_id') - 1)"/>
    <!-- 无人机初始位置 -->
    <arg name="uav_init_x" default="0.0"/>
    <arg name="uav_init_y" default="0.0"/>
    <arg name="uav_init_z" default="0.15"/>
    <arg name="uav_init_yaw" default="0.0"/>


    <node pkg="px4" name="sitl" type="px4" output="screen"
          args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_amov_$(arg ID) $(arg px4_command_arg1)">
    </node>


</launch>
