<?xml version="1.0"?>
<model>
  <name>p450_3Dlidar_D435i</name>
  <version>1.0</version>
  <sdf version='1.6'>p450_3Dlidar_D435i.sdf</sdf>

  <author>
   <name>Eason Hua</name>
   <email>hyx020222@gmail.com</email>
  </author>

  <description>
    This is a model of the p450 Quadrotor, with 3Dliadr and D435i. The original model has been created by Eason Hua.
  </description>
</model>
